.bg-dark {
  background-color: #141a32 !important;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
}
.navbar-nav .nav-link:hover {
  color: #1f6ca8 !important;
}
.custom_nav {
  text-transform: uppercase;
}
.movies_sidebar {
  position: relative;
  background-color: #0d132b;
  border-right: 1px solid #141a32;
  padding-top: 15px;
  height: auto;
}
.movies_container {
  background-color: #080f28;
  color: #f9f9f9;

  height: auto;
}
.footer_container {
  background-color: #141a32 !important;
}
.footer_text {
  font-size: 0.8rem;
  color: #8a8d99;
}
.p_1 {
  padding: 1rem;
}
.sidebar_logo {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10% 5% 10%;
}
.sidebar_title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 0 1rem;
}
